* {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parent {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.conatiner {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
     transition: all 0.4s ease-in-out;
    backface-visibility: hidden;
    will-change: transform, width, height;
}
.conatiner:hover{
    border: 1px solid #ccc;
    transform: scale(1.2);
}
.conatiner h1 {
    font-size: 40px;
}

#YourForm {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    width: 300px;
    padding: 8px;
    margin: 8px 0px 8px 0px;
}

.UserData {
    height: 25px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid black;

}

.btnParent {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.loginbtn {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    transition: width 2s, height 2s, background-color 2s, color 2s, font-size 2s;
}

.loginbtn:hover {
    width: 140px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.submitbtn {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    transition: width 2s, height 2s, background-color 2s, color 2s, font-size 2s
}

.submitbtn:hover {
    width: 140px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 30px;
}


.welcome-page {
    height: 100vh;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: none;
    flex-direction: column;
    justify-content: center;
    background: #020024;
    color: white;

    /* i clear mention that i take background color from another soucre */
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#00D4FF", GradientType=1);
}

.welcome-main-box {
    padding: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-main-box h1 {
    font-size: 40px;
    top: 20px;
}

.welcome-main-box p {
    font-size: 20px;
}

.login-parent {
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.loginPage {
    height: 320px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    transition: all 0.4s ease-in-out;
    backface-visibility: hidden;
    will-change: transform, width, height;
}

.loginPage:hover {
    height: 350px;
    width: 320px;
    border: 1px solid #ccc;
    transform: scale(1.2);
}

.loginPage h1 {
    text-align: center;
}

#loginForm {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#loginForm input {
    padding-left: 10px;
    height: 25px;
    border-radius: 6px;
    border: none;
}

.loginBtnParent {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginBtnCl {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.Home-Page-Parent {
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(90, 91, 231, 1) 9%, rgba(110, 88, 215, 1) 22%, rgba(139, 84, 193, 1) 32%, rgba(149, 83, 185, 1) 35%, rgba(156, 82, 180, 1) 49%, rgba(166, 81, 173, 1) 59%, rgba(172, 80, 168, 1) 77%, rgba(252, 70, 107, 1) 100%);
}

.home-page-conatiner {
    margin-left: 40px;
    padding-top: 20px;
    height: 300px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.home-Welcome {
    font-size: 25px;
}

.overPorject {
    font-size: 20px;
}

.backSignupbtn {
    height: 50px;
    display: flex;
    align-items: center;
}

.backSignupbtn button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
}

@media (max-width: 600px) {

    .parent{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conatiner{
        max-height: 600px; 
        max-width: 90%;
    }
    .conatiner:hover{
        transform: none;
    }
    .masking-container{
        text-align: center;
    }
    .btnParent{
        display: flex;
        justify-content: space-around;
        /* gap: 20px; */
        align-items: center;
        height: 50px;
        width: 100%;
    }

    .Home-Page-Parent{
        height: 100vh;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: start;
    }
    .home-page-conatiner{
        max-width: 90%;
        margin-left: 0px;
        padding: 10px;
        max-height: fit-content;
        display: flex;
        gap: 30px;
    }

    .welcome-page{
        height: 100vh;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
    }
    .welcome-main-box{
        display: flex;
        max-height: 500px;
        max-width: 90%;
        padding: 10px;
        gap: 10px;
        margin: 0px;
    }
     .loginPage:hover{
        transform: none;
    }

}
